@import '../app/app';

.placeholder {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: portfolio-color('background', 'base');
  background: portfolio-color('foreground', 'base');
}

.placeholder-content {
  width: 33%;
}

.social-icon {
  margin: .4rem !important;
}

.social-svg-icon {
  fill: #fff !important;
}

@include media-breakpoint-down(sm) {
  .placeholder-content {
    width: 100%;
  }
}
